---
layout: default
---

<div class="article-list">
	{{ content }}
</div>

<aside class="aside">
	<div>
      <h3>about me</h3>
		<h3>分类</h3>
		<ul>
			{% for category in site.categories %}
			<li><a href="/category.html#{{category[0]}}">{{category[0]}} ({{category[1] | size}})</a></li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h3>链接</h3>
		<ul>
		   <li>
                   <a href="http://www.izhangheng.com/" target="_blank" >张衡HENRY</a>
                  </li>
                  <li>
		  <a href="http://www.uniorder.com/" target="_blank" >秋水</a>	
                   </li>
                  <li>
                  <a href="http://www.xten.com" target="_blank" >xten</a>
                  </li>
		</ul>
	</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 左侧 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-5152885175712534"
     data-ad-slot="6248036601"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</aside>
